@charset "utf-8";

/*-------------------------------------------------------------------------
reset CSS
-------------------------------------------------------------------------*/

html {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-size: 62.5%;
    width: 100%;
    min-height: 100%;
    position: relative;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, textarea, input, button,select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-family: "メイリオ",Meiryo,Tahoma,Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #101010;
    box-sizing: border-box;
}
body {
    line-height: 1;
    width: 100%;
    -webkit-text-size-adjust: none;
    background: #fff;
    word-break: break-all;
}
li {
    list-style-type: none;
}
/* clearfix */
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.btn {
    background-color: #008b8b;
    color: #fffff;
    font-weight: bold;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
    .btn button {
        color: #fff;
    }
/*-------------------------------------------------------------------------
ヘッダー
-------------------------------------------------------------------------*/

#header {
    width: 1000px;
    margin-left : auto;
    margin-right: auto;
    padding: 16px 0;
    overflow: hidden;
}
    #header .ttl {
        display: block;
        float: left;
        text-decoration: none;
    }
    #header .search_link {
        float: right;
    }
    #header h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
/*-------------------------------------------------------------------------
フッター
-------------------------------------------------------------------------*/
#footer {
    width: 1000px;
    margin-left : auto;
    margin-right: auto;
    padding: 16px 0;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

/*-------------------------------------------------------------------------
コンテンツ
-------------------------------------------------------------------------*/
#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}
#addlist {
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 10px;
    margin: 0 0 10px;
}
    #addList dt,
    #addList dd,
    #addList p {
        float: left;
    }
    #addList dt {
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 1.6rem;
    }
    #addList dd {
        width: 700px;
        height: 40px;
        font-size: 1.6rem;
    }
        #addList .hissu {
            border: 1px solid #888888;
            border-radius: 3px;
            padding: 3px;
        }
h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.attention_txt {
    font-size: 1.6rem;
    color: #da70d6;
    font-weight: bold;
    margin: 10px 0;
}
    .attention_txt.black {
        color: #000;
    }
.form_ttl {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 5px;
}
.sub_ttl {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
}
#list,
#list2 {
    padding: 10px 0;
    overflow: hidden;
}
    #list .list_box,
    #list2 .list_box {
        width: 32%;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        border: 1px solid #dadada;
        border-radius: 3px;
        vertical-align: top;
    }
    #list .list_box:nth-child(3n),
    #list2 .list_box:nth-child(3n) {
        margin-left: 0;
    }
        #list .list_box dt,
        #list2 .list_box dt {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.3;
            margin-bottom: 5px;
        }
        #list .list_box dd,
        #list .list_box dd {
            font-size: 1.5rem;
            line-height: 1.2;
            margin-bottom: 5px;
        }
.status {
    color: #fffff;
    font-weight: bold;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 8px auto 0;
}
    .status.yet {
        background-color: #ff8c00;
    }
    .status.done {
        background-color: #ededed;
        color: #000;
        border: 1px solid #dadada;
    }
.delete {
    font-size: 1.2rem;
    text-align: right;
    text-decoration: underline;
}
.btn,
.status,
.delete,
button {
    cursor: pointer;
}
/*-------------------------------------------------------------------------

-------------------------------------------------------------------------*/
